<div class="project-result">
  <div class="top-pic">
    <%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/award.png" %>
  </div>
  <div class="info-card">
    <div class="up">
      <p class="congratulation">恭喜你完成此次任务</p>
      <p class="steps">将捐出12234步</p>
    </div>
    <div class="donate">
      <%= image_tag @project.sponsor %>
      <span>将为灾区儿童捐出<b>&nbsp;2&nbsp;</b>本图书</span>
    </div>
    <a class="action-button">写评价</button>
    <a class='action-button' href="http:maimoe.com/recommend">推荐给朋友</button>
    <p class="to-frontpage" href="http:maimoe.com/frontpage">转到首页</p>
  </div>
</div>