.details {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  .main-image {
    width: 100%;
  }
  .small-infos {
    padding: 0px 5%;
    margin-top: -102px;
    > div {
      display: inline-block;
      width: 32%;
      text-align: center;
      color: #fff;
      font-size: 12px;
      img {
        display: block;
        margin: auto;
        height: 26px;
        margin-bottom: 6px;
      }
    }
  }
  .address {
    font-size: 18px;
    margin-top: 34px;
    color: #fff;
    text-align: center;
  }
  .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .location {
    padding: 20px 6%;
    div {
      float: left;
      margin-top: 5px;
      margin-left: 14px;
    }
  }
  .location-image {
    height: 28px;
    float: left;
  }
  .description {
    font-size: 14px;
    color: #666;
    margin: 0px 4%;
    padding: 25px 2%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    line-height: 18px;
  }
  .intro {
    font-size: 14px;
    color: #333;
    margin: 0px 4%;
    padding: 34px 2%;
    line-height: 18px;
    span {
      color: #2aa2cd;
    }
    .donate-image {
      height: 20px;
    }
    .sponsor {
      float: left;
    }
    > div {
      img {
        float: left;
        height: 18px;
        margin-left: 14px;
        margin-top: -1px;
      }
    }
  }
}
